<mat-card class="example-card">
  <mat-card-header>    
    <mat-card-title>Cube Props</mat-card-title>
    <mat-card-subtitle>Add Properties for the cube</mat-card-subtitle>
  </mat-card-header>  
  <mat-card-content>
   <form class="example-container" [formGroup]="options">
		<mat-form-field>
	    	<input matInput type="number" placeholder="Amount of Tests" [(ngModel)]="cubeProps.amountTest" formControlName="amountTest" max="50">
    		<mat-error *ngIf="options.get('amountTest')?.invalid">Amount of Tests Max size is: 100</mat-error>
		</mat-form-field>
  		<mat-form-field>
	    	<input matInput type="number" placeholder="Matrix Size" [(ngModel)]="cubeProps.matrixSize" formControlName="matrixsize" max="100">
    		<mat-error *ngIf="options.get('matrixsize')?.invalid">Matriz Max size is: 100</mat-error>
		</mat-form-field>
		<mat-form-field>
	    	<input matInput type="number" placeholder="Amount of Operations" [(ngModel)]="cubeProps.amountOperations"  formControlName="amountOperations" max="1000">
	    	<mat-error *ngIf="options.get('amountOperations')?.invalid">Amount of Operations Max size is: 100</mat-error>
		</mat-form-field>
		<button type="button" mat-raised-button color="primary" [disabled]="!options.valid" (click)="save()">Primary</button>
	</form>
  </mat-card-content>  
</mat-card>