

<mat-card class="example-card">
  <mat-card-header>    
    <mat-card-title>Cube Test</mat-card-title>
    <mat-card-subtitle>Add test to your cube</mat-card-subtitle>
  </mat-card-header> 
  <mat-card-content>
   <form class="example-container" [formGroup]="cubeTest">
      	<mat-form-field>
  			<mat-select placeholder="Get Cube Properties" formControlName="cubePropertiestest">
  				<mat-option>None</mat-option>
    			<mat-option *ngFor="let cubeProperty of cubePropses" [value]="cubeProperty" [(ngModel)]="cubeProps">
      				{{cubeProperty}}
    			</mat-option>
			</mat-select>			
		</mat-form-field>
		<mat-form-field>
	    	<input matInput type="number" placeholder="Amount of Tests" [(ngModel)]="cubeProps.amountTest" formControlName="amountTesttest" max="50">
    		<mat-error *ngIf="cubeTest.get('amountTest')?.invalid">Amount of Tests Max size is: 100</mat-error>
		</mat-form-field>
  		<mat-form-field>
	    	<input matInput type="number" placeholder="Matrix Size" [(ngModel)]="cubeProps.matrixsize" formControlName="matrixsizetest" max="100">
    		<mat-error *ngIf="cubeTest.get('matrixsize')?.invalid">Matriz Max size is: 100</mat-error>
		</mat-form-field>
		<mat-form-field>
	    	<input matInput type="number" placeholder="Amount of Operations" [(ngModel)]="cubeProps.amountOperations"  formControlName="amountOperationstest" max="1000">
	    	<mat-error *ngIf="cubeTest.get('amountOperations')?.invalid">Amount of Operations Max size is: 100</mat-error>
		</mat-form-field>
		<button type="submit" mat-raised-button color="primary" (click)="save()" >Primary</button>
	</form>
  </mat-card-content>   
</mat-card>
<p>You selected: {{cubeTest.cubePropertiestest}}</p>