<mat-grid-list cols="3" rowHeight="400px">
  <mat-grid-tile>
	<app-cubeprops></app-cubeprops>
  </mat-grid-tile>
  <mat-grid-tile>
	<app-cubetests></app-cubetests>    
  </mat-grid-tile>
  <mat-grid-tile>
	
  </mat-grid-tile>
</mat-grid-list>